<div class="min-h-screen flex relative">
  <div class="absolute top-6 left-10 z-10">
    <img class="w-28" src="logo/Logo.png" alt="taraja logo" />
  </div>

  <div class="flex-1 flex flex-col justify-center px-3 bg-white">
    <div class="mx-auto w-full max-w-xl">
      <div class="flex justify-start mb-4">
        <button class="text-sm underline" 
                (click)="goBack()" 
                [disabled]="currentStep === 0">
                Back
        </button>
      </div>

      <div class="flex justify-between mb-6">
        <ng-container *ngFor="let step of steps; let i = index">
          <div [ngClass]="{
              'h-2 rounded-full mx-1 flex-1': true,
              'bg-yellow-400': i <= currentStep,
              'bg-gray-300': i > currentStep
            }"></div>
        </ng-container>
      </div>

      <ng-container [ngSwitch]="currentStep">
        <div *ngSwitchCase="0">
            <h2 class="text-2xl font-semibold">What gender do you identify as?</h2>
            <span class="text-gray-500 text-bold text-sm">Extra info if needed</span>
            <div class="space-y-3 mt-4">
                <button *ngFor="let option of ['Man', 'Woman', 'Other', 'Prefer not to say']"
                        (click)="selectAndAdvance(option)"
                        [ngClass]="{
                            'bg-sky-100 border-2': isSelected(currentStep, option),
                            'w-full border-2 border-gray-300 text-start text-blue-900 p-3 hover:shadow-[0_2px_0_0_rgba(0,0,0,0.1)]': true
                        }">
                  {{ option }}
                </button>
            </div>
        </div>

        <div *ngSwitchCase="1">
          <h2 class="text-2xl font-semibold">How old are you?</h2>
          <span class="text-gray-500 text-bold text-sm">Extra info if needed</span>
          <input type="number" 
                 class="w-full border p-3 mt-4" 
                 placeholder="Enter your age" 
                 (change)="selectAndAdvance($any($event.target).value)" />
        </div>

        <div *ngSwitchCase="2">
          <h2 class="text-2xl font-semibold">Are you in a romantic relationship?</h2>
          <span class="text-gray-500 text-bold text-sm">Extra info if needed</span>
          <div class="space-y-3 mt-4">
            <button *ngFor="let option of ['YES', 'N0']"
                    (click)="selectAndAdvance(option)"
                    [ngClass]="{
                            'bg-sky-100 border-2': isSelected(currentStep, option),
                            'w-full border-2 border-gray-300 text-start text-blue-900 p-3 hover:shadow-[0_2px_0_0_rgba(0,0,0,0.1)]': true
                        }">
                  {{ option }}
                </button>
          </div>
        </div>

        <div *ngSwitchCase="3">
          <h2 class="text-2xl font-semibold">If yes what is the status of your relationship</h2>
          <span class="text-gray-500 text-bold text-sm">Extra info if needed</span>
          
          <div class="space-y-3 mt-4">
             <button *ngFor="let option of ['Married', 'Engaged', 'Courtship']"
                    (click)="selectAndAdvance(option)"
                    [ngClass]="{
                            'bg-sky-100 border-2': isSelected(currentStep, option),
                            'w-full border-2 border-gray-300 text-start text-blue-900 p-3 hover:shadow-[0_2px_0_0_rgba(0,0,0,0.1)]': true
                        }">
                  {{ option }}
                </button>
          </div>
        </div>

        <div *ngSwitchCase="4">
          <h2 class="text-2xl font-semibold">How important is religion in your life</h2>
          <span class="text-gray-500 text-bold text-sm">Extra info if needed</span>
          
          <div class="space-y-3 mt-4">
             <button *ngFor="let option of ['Very Important', 'Important', 'Somewhat Important', 'Not Important']"
                    (click)="selectAndAdvance(option)"
                    [ngClass]="{
                            'bg-sky-100 border-2': isSelected(currentStep, option),
                            'w-full border-2 border-gray-300 text-start text-blue-900 p-3 hover:shadow-[0_2px_0_0_rgba(0,0,0,0.1)]': true
                        }">
                  {{ option }}
                </button>
          </div>
        </div>

        <div *ngSwitchCase="5">
          <h2 class="text-2xl font-semibold">What religion do you identify with</h2>
          <span class="text-gray-500 text-bold text-sm">Extra info if needed</span>
          
          <div class="space-y-3 mt-4">
             <button *ngFor="let option of ['Christian', 'Hindu', 'Jewish', 'Budhist']"
                    (click)="selectAndAdvance(option)"
                    [ngClass]="{
                            'bg-sky-100 border-2': isSelected(currentStep, option),
                            'w-full border-2 border-gray-300 text-start text-blue-900 p-3 hover:shadow-[0_2px_0_0_rgba(0,0,0,0.1)]': true
                        }">
                  {{ option }}
                </button>
          </div>
        </div>

        <div *ngSwitchCase="6">
          <h2 class="text-2xl font-semibold">Would you like to be matched with a religion based therapist</h2>
          <span class="text-gray-500 text-bold text-sm">Extra info if needed</span>
          
          <div class="space-y-3 mt-4">
             <button *ngFor="let option of ['YES', 'NO']"
                    (click)="selectAndAdvance(option)"
                    [ngClass]="{
                            'bg-sky-100 border-2': isSelected(currentStep, option),
                            'w-full border-2 border-gray-300 text-start text-blue-900 p-3 hover:shadow-[0_2px_0_0_rgba(0,0,0,0.1)]': true
                        }">
                  {{ option }}
                </button>
          </div>
        </div>

        <div *ngSwitchCase="7">
          <h2 class="text-2xl font-semibold">Have you been to therapy before?</h2>
          <div class="space-y-3 mt-4">
             <button *ngFor="let option of ['YES', 'NO']"
                     (click)="selectAndAdvance(option)"
                     [ngClass]="{
                                'bg-sky-100 border-2': isSelected(currentStep, option),
                                'w-full border-2 border-gray-300 text-start text-blue-900 p-3 hover:shadow-[0_2px_0_0_rgba(0,0,0,0.1)]': true
                            }">
                  {{ option }}
                </button>
          </div>

          <button *ngIf="isOptionSelected()" 
                   class="mt-6 w-full bg-yellow-400 text-white font-bold py-3 rounded-full"
                   (click)="createAccount()">
            Create your account
          </button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="hidden lg:block relative w-0 flex-1">
    <img class="absolute inset-0 h-full w-full object-cover" src="backgrounds/book.png" alt="a young lady using her laptop" />
  </div>
</div>
